venv/
__pycache__/
*.pyc
.env
configs/auth_config.yaml
.idea/
.vscode/

data/signal_logs.csv
data/last_signals.csv

node_modules/
playwright-report/
allure-report/
allure-results/
test-results/
qa_results/
QA/node_modules/
QA/results/
